<!DOCTYPE html>
<html>

<head>
  <title>HOME PAGE</title>
</head>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  </style>
<body>
  <a href="file:///C:/Users/ELCOT/Downloads/IBM%20PROJ/action_page.html#work"></a>
  <div class="main">
          <div class="navbar">
              <div class="icon">
                  <h2 class="logo">Smart Fashion</h2>
              </div>

              <div class="menu">
                <div class="w3-top">
                  <div class="w3-bar w3-white w3-card" id="myNavbar">
                    <a href="#home" class="w3-bar-item w3-button w3-wide"></a>
                    <!-- Right-sided navbar links -->
                    <div class="w3-right w3-hide-small"><b>
                      <ul>
                        <li><a href="file:///C:/Users/ELCOT/Downloads/IBM%20PROJ/action_page.html">HOME</a></li>
                    <li><a href="file:///C:/Users/ELCOT/Downloads/IBM%20PROJ/login.html">LOGIN</a></li>
                        <li><a href="file:///C:/Users/ELCOT/Downloads/IBM%20PROJ/signup.html">SIGNUP</a></li>
                    </ul>
                    </div>
                  </div>
          <img src="home.webp" width="1500px" height="500px">
       </div>
      </body>
</html> 